<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Colorado Hike Recommender</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      .jumbotron {
        background-image: url("../static/sunrisedillon.jpg");
        background-size: cover;
        background-position-x: center;
        background-position-y: 20%;
        position: relative;
        overflow: hidden;
        width: 100%;
      }
      .vertical-center {
        min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 50vh; /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
      }
      .jumbotron h1{
        font-size: 6em;
      }

    </style>
    <style> 
        table, th, td {
            border: 2px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
        }
        table.center {
            margin-left:auto; 
            margin-right:auto;
        }
        </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/trail_recommendations">Get Recommendations</a>
            <a class="navbar-brand" href="/get_started">Topic Groups</a>
            <a class="navbar-brand" href="/about">About</a>
        </div>
        </div>
    </nav>

    <div class="jumbotron vertical-center text-center">
        <div class="container">
            <div class="col-md-6"></div>
            <h1 style="color: #252526">{{ title }}</h1>
            <h2 style="color: #252526; background-color:#ffffffcb; padding:10px; ">{{ description }}</h2>
        </div>
    </div>

    <body>
        <h3 style="text-align: center;">Trail Options</h3>
        <table class="center">
            <thead style="background-color: #25252648;">
              {% for feat in hike_features %}
              <th>{{ feat }}</th>
              {% endfor %}
              <!-- <th>y</th> -->
            </thead>
            <tbody>
              <!-- Here is where the data passed into the template gets inserted -->
              {% for k, v in hike_specs.items() %}
                <tr>
                  {% if '[CLOSED]' in k %}
                  <td style="background-color: palegoldenrod;"><a href= "{{ '%s'%urls[k] }}"><b>{{ k }}</b></a></td>
                  {% else %}
                  <td><a href= "{{ '%s'%urls[k] }}"><b>{{ k }}</b></a></td>
                  {% endif %}
                  {% for spec in v %}
                  <td>{{ spec }}</td>
                  {% endfor %}
                  {% if k in dogs %}
                  <td>Yes</td>
                  {% else %}
                  <td style="background-color: rgba(173, 31, 31, 0.5);">No</td>
                  {% endif %}
                  <!-- <td>{{ y }}</td> -->
                </tr>
              {% endfor %}
            </tbody>
        </table>
    <hr>
    <h3 style="text-align: center;"><em>Disclaimer</em>: Hike safely, follow <a href="https://lnt.org/">Leave No Trace</a> guidelines, and respect wildlife and enforced trail closures!</h3>
    <hr>
    <table class="center">
        <thead style="background-color: #25252648;">
        <th class="text-center">Legend</th>
        </thead>
        <tbody>
        <tr>
            <td style="background-color: palegoldenrod;">Please check for updates about the closure of this trail. Most closures can be attributed to the COVID-19 pandemic and may no longer be in place.</td>
        </tr>
        <tr>
            <td style="background-color: rgba(173, 31, 31, 0.5);">Dogs are not allowed on this trail, please check the trail details for leash restrictions.</td>
        </tr>
        </tbody>
    </table>
          
  
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
      <script src="../static/js/bootstrap.min.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
    </body>
  </html>


    